POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=libreria_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:PASSWORD@db:5432/libreria_db
DATABASE_URL="postgresql://postgres:postgres@db:5432/libreria_db?schema=public"
PORT=3000
JWT_SECRET="escribi_aqui_tu_clave_secreta_local"